body {
  background-image: url(../assets/images/background.svg)
}

.cursor-pointer {
  cursor: pointer;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

@each $color, $value in $theme-colors {
  .shadow-#{$color} {
		box-shadow: 0 0 .3rem $value;
  }
}
