h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-shadow: none !important;
}

.btn {
  text-shadow: none;
}

.navbar-dark {
  a {
    text-shadow: none;
  }
}

.text-muted {
  text-shadow: none;
}
