@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Raleway-Medium.ttf);
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../public/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Raleway-SemiBold.ttf);
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../public/fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Raleway-Bold.ttf);
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../public/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../public/fonts/Raleway-ExtraBold.ttf);
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(../public/fonts/Raleway-ExtraBold.ttf) format('truetype');
}
