@import "bootstrap/scss/variables";

body {
  background-image: url(../public/images/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.bg-input {
  background-color: $input-bg;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.text-decoration-underline-dotted {
  text-decoration: underline dotted;
}

#walletconnect-wrapper {
  color: $dark;
}
